body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* Neutralna svijetloplava boja */
}

.navbar {
    background-color: rgb(0, 68, 123);
    height: 150px;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
}

.navbar .logo {
    height: 150px;
    margin-right: 20px;
    background-color: white;
}

.main-content {
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #003366;
}

.referade-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.referada {
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33% - 20px); /* Tri kolone sa razmakom */
    box-sizing: border-box;
}

.referada h2 {
    color: #003366;
}

.referada p {
    margin: 5px 0;
    color: #333;
}

.referada i {
    margin-right: 10px;
}

.referada p strong {
    display: block;
    margin-bottom: 5px;
}
